<body>
	<div>
		<h2 align="center">Sign Order Form</h2>
	</div>

	<table align="center">
		<col width="300">
		<col width="200">
		<col width="150">
		<col width="10">
		<col width="20">
		<col width="20">
		<tr>
			<th>SignName</th>
			<th>Description</th>
			<th>Type</th>
			<th>Max Qty</th>
			<th>Order Qty</th>
			<th>On Hand Qty</th>
		</tr>
		<tr>
			<td>2 x 20 Banner</td>
			<td>Banner- 2 x 20</td>
			<td>Banner</td>
			<td>2</td>
			<td>
				<input/>
		</td>
			<td>61</td>
		</tr>
		<tr>
			<td>3 x 20 Banner</td>
			<td>Banner- 3 x 20</td>
			<td>Banner</td>
			<td>2</td>
			<td>
				<input/>
		</td>
			<td>65</td>
		</tr>
		<tr>
			<td>3 x 30 Banner</td>
			<td>Banner- 3 x 30</td>
			<td>Banner</td>
			<td>2</td>
			<td>
				<input/>
		</td>
			<td>32</td>
		</tr>
		<tr>
			<td>4 x 8 Banner</td>
			<td>Banner- 4 x 8</td>
			<td>Banner</td>
			<td>2</td>
			<td>
				<input/>
		</td>
			<td>94</td>
		</tr>
		<tr>
			<td>4 x 30 Banner</td>
			<td>Banner- 4 x 30</td>
			<td>Banner</td>
			<td>2</td>
			<td>
				<input/>
		</td>
			<td>137</td>
		</tr>
		<tr>
			<td>4 x 40 Banner</td>
			<td>Banner- 4 x 40</td>
			<td>Banner</td>
			<td>2</td>
			<td>
				<input/>
		</td>
			<td>90</td>
		</tr>
	</table>

	<h4 align="center">Store Information</h4>
	<div align="center" class="form">
		<label>Store Number
    <select name="StoreNumber">
      <option value= "Default" selected="selected">Select Store</option>
      <option value= "60020">60020</option>
      <option value= "60123">60123</option>
      <option value= "60456">60456</option>
      <option value= "60789">60789</option>
      <option value= "60147">60147</option>
      <option value= "60258">60258</option>
      <option value= "60369">60369</option>
      <option value= "60987">60987</option>
      <option value= "60654">60654</option>
      <option value= "60321">60321</option>
    </select>
  </label>
		<div>
			<h4></h4>
		</div>
		<label>Contact Name
    <input #contactName/>
  </label>
		<div>
			<h4></h4>
		</div>
		<label>Phone Number
    <input #phoneNum/>
  </label>
		<div>
			<h4></h4>
		</div>
		<label>Email Address
    <input #email/>
  </label>
		<div>
			<h4></h4>
		</div>
	</div>
	<h4 align="center">Shipping Information</h4>
	<div class="form">
		<label>Address 1
    <input #address1/>
  </label>
		<div>
			<h4></h4>
		</div>
		<label>Address 2
    <input #address2/>
  </label>
		<div>
			<h4></h4>
		</div>
		<label>City
    <input #city/>
  </label>
		<div>
			<h4></h4>
		</div>
		<label>State
    <select name="State">
      <option value= "Default" selected="selected">Select State</option>
      <option value= "Alabama">Alabama</option>
      <option value= "Alaska">Alaska</option>
      <option value= "Arizona">Arizona</option>
      <option value= "Arkansas">Arkansas</option>
      <option value= "California">California</option>
      <option value= "Colorado">Colorado</option>
      <option value= "Connecticut">Connecticut</option>
      <option value= "Delaware">Delaware</option>
      <option value= "Florida">Florida</option>
      <option value= "Georgia">Georgia</option>
      <option value= "Hawaii">Hawaii</option>
      <option value= "Idaho">Idaho</option>
      <option value= "Illinois">Illinois</option>
      <option value= "Indiana">Indiana</option>
      <option value= "Iowa">Iowa</option>
      <option value= "Kansas">Kansas</option>
      <option value= "Kentucky">Kentucky</option>
      <option value= "Louisiana">Louisiana</option>
      <option value= "Maine">Maine</option>
      <option value= "Maryland">Maryland</option>
      <option value= "Massachusetts">Massachusetts</option>
      <option value= "Michigan">Michigan</option>
      <option value= "Minnesota">Minnesota</option>
      <option value= "Mississippi">Mississippi</option>
      <option value= "Missouri">Missouri</option>
      <option value= "Montana">Montana</option>
      <option value= "Nebraska">Nebraska</option>
      <option value= "Nevada">Nevada</option>
      <option value= "New Hampshire">New Hampshire</option>
      <option value= "New Jersey">New Jersey</option>
      <option value= "New Mexico">New Mexico</option>
      <option value= "New York">New York</option>
      <option value= "North Carolina">North Carolina</option>
      <option value= "North Dakota">North Dakota</option>
      <option value= "Ohio">Ohio</option>
      <option value= "Oklahoma">Oklahoma</option>
      <option value= "Oregon">Oregon</option>
      <option value= "Pennsylvania">Pennsylvania</option>
      <option value= "Rhode Island">Rhode Island</option>
      <option value= "South Carolina">South Carolina</option>
      <option value= "South Dakota">South Dakota</option>
      <option value= "Tennessee">Tennessee</option>
      <option value= "Texas">Texas</option>
      <option value= "Utah">Utah</option>
      <option value= "Vermont">Vermont</option>
      <option value= "Virginia">Virginia</option>
      <option value= "Washington">Washington</option>
      <option value= "West Virginia">West Virginia</option>
      <option value= "Wisconsin">Wisconsin</option>
      <option value= "Wyoming">Wyoming</option>
    </select>
  </label>
		<div>
			<h4></h4>
		</div>
		<label>Zip
    <input #zip/>
  </label>
		<div>
			<h4></h4>
		</div>
	</div>
	<div class="form2">
		<label>Shipping Method
    <select name="ShippingMethod" width="20em">
      <option value= "Default" selected="selected">Choose a Shipping Method...</option>
      <option value= "USPS">USPS</option>
      <option value= "UPS">UPS</option>
      <option value= "FedEx">FedEx</option>
    </select>
  </label>
		<div>
			<h4></h4>
		</div>
	</div>
	<div align="center">
		<button onClick="window.location.reload();">Submit Request</button>
	</div>
</body>